/* Homepage.css */

.hero-section {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  color: aliceblue;
}

.featured-creators {
  background-color: #e6e6e6;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}