* {
  background-color: #0A1828 !important;
}

.signup-container {
    padding-top: 150px;
    justify-content: center;
}

.button-div {
    margin-top: 100px;
    margin-bottom: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div button {
    width: 200px;
    height: 100px;
    color: #BFA181 !important;
    border: 1px solid #BFA181;
    border-bottom: none;
    border-radius: 6px;
}

.button-div button:hover {
  opacity: 0.5;
}

.loginDiv {
    padding-bottom: 150px;
    background-color: #FAF9F6;
  }
  
  .login-container {
    max-width: 400px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    border-radius: 6px;
    height: 70vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-container img {
    width: 100px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .login-label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .login-input {
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black; 
    transition: border-bottom 0.2s; 
  
    &::placeholder {
      color: transparent;
    }
  
    &:focus {
      border-bottom: 2px solid black; /* Set border-bottom to your desired color on focus */
    }
  }
  
  
  .login-button {
    background-color: transparent;
    color: #BFA181 !important;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    width: 100%;
  }
  

  .signup{
    margin-top: 30px;
  }

  a {
    color: black;
  }

  a:hover{
    color: red;
  }



  div.input-block {
    position: relative;
    background-color: #0A1828 !important;
  }
  
  div.input-block input {
    font-size: 1rem;
    color: #BFA181; /* Updated text color */
    background-color: #0A1828 !important;
    width: 350px;
    padding: 15px 15px;
    border-radius: 1rem;
    border: 2px solid #BFA181; /* Updated border color */
    outline: none;
    margin-bottom: 15px;
  }
  
  div.input-block span.placeholder {
    position: absolute;
    margin: 17px 0;
    padding: 0 4px;
    color: #BFA181; /* Updated placeholder text color */
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background-color: #0A1828 !important;
    pointer-events: none;
  }
  
  div.input-block input:valid + span.placeholder,
  div.input-block input:focus + span.placeholder {
    transform: scale(0.8) translateY(-30px);
    background-color: #0A1828 !important;
  }
  
  div.input-block input:focus {
    color: #BFA181; /* Updated focused text color */
    border-color: #BFA181; /* Updated focused border color */
  }
  
  div.input-block input:focus + span.placeholder {
    color: #BFA181; /* Updated focused placeholder text color */
  }